{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 400,
	"bracketSameLine": true,
	"singleAttributePerLine": false,
	"htmlWhitespaceSensitivity": "ignore",
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte",
				"svelteSortOrder": "options-scripts-markup-styles",
				"svelteStrictMode": false,
				"svelteBracketNewLine": false,
				"svelteIndentScriptAndStyle": true,
				"svelteAllowShorthand": true
			}
		}
	]
}